[user]
    name = Ethorbit
[credential]
    helper = cache
[pull]
    ff = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
